<ion-content [fullscreen]="true"
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)">

  <app-image-grid id="image-grid"
                  name="Photos"
                  [imagesList]="imagesList"
                  [isLoading]="isLoading"
                  (emitPhotoClickEvent)="handlePhotoClick($event)"
                  #imagesGrid></app-image-grid>
</ion-content>
