ion-tab-bar {
  --background: #f4f4f4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  border-top: none;
  margin: 0 auto;
  height: 80px;
}

ion-tab-button {
  --color: #d4d4d4;
  --color-selected: #5a41a0;
  --padding-bottom: 8px;
  --padding-top: 8px;
  font-size: 18px;
  font-weight: 600;
}
