<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="/" layout="icon-start" [selected]="selectedTabName === 'photostream'" (click)="selectTab('photostream')">
      <ion-icon name="images-outline"></ion-icon>
      <ion-label>Photos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="favorites" layout="icon-start" [selected]="selectedTabName === 'favorites'" (click)="selectTab('favorites')">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favorites</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
