.photo-detail-container {
  margin: 50px;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-img {
    height: 80%;
    width: 80%;
    display: block;
  }

  .button-container {
    margin: 20px;
  }
}
