<mat-card class="photo-detail-container" *ngIf="selectedPhoto">
  <ion-img [src]="selectedPhoto.download_url"></ion-img>
  <mat-card-actions class="button-container">
    <button mat-raised-button color="warn" (click)="removeImageFromFavorites()">
      <mat-icon>delete</mat-icon>
      Remove From Favorites
    </button>
  </mat-card-actions>
</mat-card>
