mat-grid-tile {
  background: lightgrey;
}

.image-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  img {
    cursor: pointer;
  }
  ion-thumbnail {
    --size: 100%;
  }
}

.no-items-container {
  margin: 50px;
  padding: 50px;
  text-transform: uppercase;
  color: gray;

  mat-card-header {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

.spinner-container {
  display: flex;
  padding: 20px;
  height: 150px;
  justify-content: center;
}
