<ng-container *ngIf="imagesList?.length || isLoading; else noItems">
  <mat-grid-list cols="3" rowHeight="45vh">
    <ng-container *ngFor="let image of imagesList">
      <mat-grid-tile>
        <div class="image-container">
          <ion-thumbnail>
            <img (click)="onImageClick(image)" [src]="image.download_url" fill />
          </ion-thumbnail>
        </div>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
  <div class="spinner-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
</ng-container>

<ng-template #noItems>
  <mat-card class="no-items-container">
    <mat-card-header>
      <mat-card-title>
        No Photos Found
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</ng-template>
